body {
    font-family: 'Roboto', sans-serif;
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: grey;
    text-decoration: line-through;
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.fa-plus {
    float: right;
}

/*.fa-trash {*/
    /*margin: 0 10px;*/
/*}*/

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    opacity: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

input {
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    color: #2980b9;
    padding: 13px 13px 13px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

input:focus {
    background: white;
    border: 3px solid #2980b9;
}

li:nth-child(2n) {
    background: #f7f7f7;
}