<% include partials/header.ejs %>

<div class="ui main text container segment">

    <% blogs.forEach(function (blog) { %>
        <div>
            <h2><%= blog.title %></h2>
            <img src="<%= blog.image %>" alt="">
            <span><%= blog.created %></span>
            <p><%= blog.body %></p>
        </div>
    <% }) %>
</div>

<% include partials/footer.ejs %>