<% include partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="post">
        <div class="field">
            <label for="title">Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label for="image">Image</label>
            <input type="text" name="blog[image]" placeholder="image url">
        </div>
        <div class="field">
            <label for="body">Body</label>
            <textarea name="blog[body]" placeholder="blog post content"></textarea>
        </div>
        <button class="ui positive basic button" type="submit">Save</button>
        <!--<input type="submit">-->
    </form>
</div>

<% include partials/footer.ejs %>